@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);   
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.4rem;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 330px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    margin: 150px;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0px 10px 30px hsla(219, 15%, 55%, 0.233);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h1 {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.card p {
    padding: 15px 20px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }